.control-box {
    border-radius: 2px;
    padding: .1em 1.5em;
}

.drupal-user-label {
  font-size: 16px;
  font-weight: bold;
  padding: .5em 1.5em;
}


.message-label {
    font-size: 26px;
    font-weight: bold;
    color: #ffffff;
    background-color: rgba(10,10,10,0.7);
    border-radius: 5px;
    padding: 1.5em;
}
